<label>Moves:
	<select id="move1" onchange="updatePoints()">
		<option value="~noMove~">NONE (0)</option>
		~for move in moves:
		<option value="~move.cost~|~move.value~">~move.name~ (~move.cost~)</option>
		:~
	</select>
	<select id="move2" onchange="updatePoints()">
		<option value="~noMove~">NONE (0)</option>
		~for move in moves:
		<option value="~move.cost~|~move.value~">~move.name~ (~move.cost~)</option>
		:~
	</select>
	<select id="move3" onchange="updatePoints()">
		<option value="~noMove~">NONE (0)</option>
		~for move in moves:
		<option value="~move.cost~|~move.value~">~move.name~ (~move.cost~)</option>
		:~
	</select>
	<select id="move4" onchange="updatePoints()">
		<option value="~noMove~">NONE (0)</option>
		~for move in moves:
		<option value="~move.cost~|~move.value~">~move.name~ (~move.cost~)</option>
		:~
	</select>
</label>
<script>
	function shiftMoves(){
		var move2 = getId("move2");
		var move3 = getId("move3");
		var move4 = getId("move4");
		if(move2.value == "~noMove~"){
			var temp = move3.value;
			move3.value = move2.value;
			move2.value = temp;
		}
		if(move3.value == "~noMove~"){
			var temp = move4.value;
			move4.value = move3.value;
			move3.value = temp;
		}
	}
</script>